In [19]:
import pandas as pd

In [20]:
#set file path
file_path = ("Resources/Chicago_Public_Schools_-_School_Progress_Reports_SY1819.csv")

In [161]:
#read in csv as a dataframe
progress_df = pd.read_csv(file_path)
progress_df.head()

,School_ID,Short_Name,Long_Name,School_Type,Primary_Category,Address,City,State,Zip,Phone,...,Attainment_SAT_Grade_11_School_Pct,Attainment_SAT_Grade_11_School_Lbl,Attainment_All_Grades_School_Pct,Attainment_All_Grades_School_Lbl,Growth_PSAT_Math_Grade_10_School_Pct,Growth_PSAT_Math_Grade_10_School_Lbl,Growth_SAT_Reading_Grade_11_School_Pct,Growth_SAT_Reading_Grade_11_School_Lbl,Growth_SAT_Math_Grade_11_School_Pct,Growth_SAT_Math_Grade_11_School_Lbl
0,609869,LANGFORD,Anna R. Langford Community Academy,Neighborhood,ES,6010 S THROOP ST,Chicago,Illinois,60636,7.735359e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,610225,WHISTLER,John Whistler Elementary School,Neighborhood,ES,11533 S ADA ST,Chicago,Illinois,60643,7.735356e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,609734,TAFT HS,William Howard Taft High School,Neighborhood,HS,6530 W BRYN MAWR AVE,Chicago,Illinois,60631,7.735341e+09,...,45.6,45.6,56.4,56.4,28.0,28th,50.0,50th,34.0,34th
3,610588,RICHARDSON,Robert J. Richardson Middle School,Neighborhood,MS,6018 S KARLOV,Chicago,Illinois,60629,7.735359e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,609894,DRAKE,John B Drake Elementary School,Neighborhood,ES,2710 S DEARBORN ST,Chicago,Illinois,60616,7.735349e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
#organize by school ID and re-index
df = progress_df.sort_values("School_ID")

In [163]:
#select only School Id, student attendance, suspensions, and teacher attendance fields (not enough data to add school facility questions)
df_select = progress_df[["School_ID", "Long_Name", "Student_Attendance_Year_1_Pct", "Suspensions_Per_100_Students_Year_1_Pct", "Teacher_Attendance_Year_1_Pct"]]

In [164]:
#drop any rows with empty fields
df_select = df_select.dropna(how="any")

In [165]:
#sort by school name
df_ordered = df_select.sort_values(["Long_Name"], ascending=True)

In [182]:
#reindex by new school ID order
df_indexed = df_ordered.reset_index(drop=True)
df_indexed.head()

,School_ID,Long_Name,Student_Attendance_Year_1_Pct,Suspensions_Per_100_Students_Year_1_Pct,Teacher_Attendance_Year_1_Pct
0,610229,A.N. Pritzker School,94.8,3.4,93.1
1,610038,Abraham Lincoln Elementary School,95.8,0.1,95.5
2,610281,Adam Clayton Powell Paideia Community Academy ES,94.5,7.1,95.2
3,610185,Adlai E Stevenson Elementary School,95.3,1.1,94.3
4,609993,Agustin Lara Elementary Academy,95.4,0.4,96.3

In [235]:
#Clean the school names that differ

df_indexed.loc[df_indexed['School' in df_indexed ['Long_Name']]]








#df_indexed['Long_Name'] = df_indexed['Long_Name'].map(lambda x: x.lstrip('').rstrip('School'))
#df_indexed
#df_indexed['Long_Name'] = df_indexed['Long_Name'].str.replace('Academy', '').astype(int)



#school_name = df_indexed.loc[:, "Long_Name"]

#school_name.replace('a', '')

KeyError: False

In [173]:
##################read in teacher salary doc as csv
path = ("resources/EmployeePositionRoster_12312019.csv")
salary_roster = pd.read_csv(path)

In [174]:
#create new dataframe with only relevant columns
salary_df = salary_roster[["Department", "Annual Salary", "Job Title"]]

In [175]:
#Rename columns
Renamed_Salary = salary_df.rename(columns={"Department": "department", "Annual Salary": "Annual_Salary", "Job Title": "Job_Title"})

In [176]:
#Make a new DF with only teachers in the list
teachers_salary = Renamed_Salary[Renamed_Salary.Job_Title.str.contains('Teacher',case=False)]

In [177]:
#group by school to find the mean
mean_salary = teachers_salary.groupby(["department"]).mean()

In [178]:
#sort by school name
mean_salary = mean_salary.sort_values(["department"], ascending=True)


#join the two df's
#merge_df = pd.merge(info_df, items_df, on="customer_id")
#merge_df = pd.merge(df_indexed, mean_salary, on="")




#school names in these two documents are different